@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SegoeUIVF";
    src: url("../fonts/SegoeUIVF.ttf") format("truetype");
}

@font-face {
    font-family: "Sen-Regular";
    src: url("../fonts/Sen-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

/* Circle Animation - Navbar */
.circle {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
.circle:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
  }
.circle:hover:after {
    -webkit-animation: circle 0.8s ease-in forwards;
  }

@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #2490d8;
        border-radius: 100%;
    }
    100% {
        background: #2490d8;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

/*  Underline Stroke - Footer  */
.stroke a {
    display: inline-block;
    position: relative;
}
  
.stroke a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2490d8;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.stroke a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Dropdown effect */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Hamburger */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* #bottom-arrow{
    transform: rotate(-90deg);
} */


/* Slider controls */
.control {
    list-style: none;
}

.control li {
    position: absolute;
    z-index: 99;
    color: white;
    transform: translateY(75%);
    padding: 3px 10px;
    border-width: 1px;
    border-radius: 50%;
    /* bottom: -/100px; */
    cursor: pointer;
}

.fa-solid{
    color: black;
}

/* .control li:hover {
    background: #000;
} */

.control li.prev {
    left: 10px;
}

.control li.next {
    right: 10px;
}

/* SVG */

.svg1{
    transform: translateY(80%);
    left: 200px;
}

.svg2{
    transform: translateY(200%);
    right: 230px;
}

@media only screen and (max-width: 540px){
    .svg1{
        transform: translateY(80%);
        left: 200px;
    }

    .svg2{
        transform: translateY(160%);
        right: 30px;
        bottom: 48px;
    }
}

@media only screen and (max-width: 960px){
    .svg1{
        transform: translateY(-40%);
        left: 50px;
    }
    
    .svg2{
        transform: translateY(160%);
        right: -30px;
    }
}

/* Image caption */

.img-caption{
    position: absolute;
    top: 50%;
    left: 34%;
}

.img-img img{
    transition: transform .5s ease;
}

.img-img:hover img{
    transform: scale(1.5);
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.356);
}

.dark-container{
    /* max-width: 100%; */
    max-width: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10);
}


.hero-image{
    background-image: url('../img/travel-1.jpg');
    position: relative;
    height: 100vh;
    max-width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}


/* Top destinations */

.glide__slide--active{
    height: 388px!important;
}

.glide__slide--active img{
    height: 100%;
    width: 248px;
}

li.glide__slide{
    display: flex;
    justify-content: center;
}

/* Slider controls - GlideJs */
.glide__arrows button {
    position: absolute;
    z-index: 99;
    color: white;
    transform: translateY(-540%);
    padding: 3px 10px;
    /* bottom: -/100px; */
    cursor: pointer;
}

.fa-solid{
    color: black;
}

/* .control li:hover {
    background: #000;
} */

.glide__arrow--left {
    left: 20px;
}

.glide__arrow--right {
    right: 10px;
}

@media only screen and (max-width: 720px){
    .glide__arrow--left {
        left: 10px;
    }

    .glide__arrow--right {
        right: 0px;
    }
}

@media only screen and (max-width: 960px){
    .glide__arrow--left {
        left: -30px;
    }

    .glide__arrow--right {
        right: -40px;
    }
}

/* Air ticketing serivce
.air-ticket-img-1{
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 50%;
    transform: translateY(-20%);
}

.air-ticket-img-2{
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 50%;
    transform: translateX(50%);
}

.air-ticket-img-3{
    position: absolute;
    z-index: 3;
    right: 0px;
    bottom: 0;
    transform: translateY(0%);
    transform: translateX(-50%);
} */


/* Panorama */

.panorama-text-1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.panorama-text-2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.panorama-text-3{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}